h1 {
    text-shadow: 5px 5px red ;
}
body{

background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEQoq5WU01losmxwUxbyLUY4gwh5bOCjfVtw&usqp=CAU.jpg') ;
background-attachment: fixed;
background-position: right;
background-repeat: repeat-y;
}

ul {

  background-color: rgb(112, 19, 124);
  padding: 20px;
  
    list-style-image: url('');

}
ul li{
  margin: 5px;
  background-image: linear-gradient(rgb(236, 203, 12) 10%, rgb(65, 116, 65) 85%, blue 90%);
}




img {
    
    width:35%;
    padding: 5px;
    border-radius: 50%;

    
    
  }

  p{
      background-color: pink;
  }
  ol {
    background: #ff9999;
    padding: 20px;
  }
  
  
  
  ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
  }
  

  